<div class="login-background">

    <div class="login-logo"></div>
    <div class="login-icons">
        <div class="login-expert" data-ng-class="{on: type === 0}"></div>
        <div class="login-assure" data-ng-class="{on: type === 1}"></div>
        <div class="login-garage" data-ng-class="{on: type === 2}"></div>
    </div>
    <div class="login-footer">
        <form class="center">
            <div class="pad-10">
                <button type="button" class="login-button"
                        data-ng-click="type = 0"
                        data-ng-class="{empty: type !== 0}">Expert</button>
                <button type="button" class="login-button"
                        data-ng-class="{empty: type !== 1}"
                        data-ng-click="type = 1">Assuré</button>
                <button type="button" class="login-button"
                        data-ng-click="type = 2"
                        data-ng-class="{empty: type !== 2}">Garagiste</button>
            </div>
            <div class="pad-10">
                <input class="login" data-ng-model="user.email"
                       type="email" placeholder="Email">
            </div>
            <div class="pad-10">
                <input class="login" data-ng-model="user.pass"
                       type="password" placeholder="Mot de passe"
                       data-ng-keydown="$event.which === 13 && passwordLogin()">
            </div>
            <div class="pad-10 right">
                <button type="button"
                        class="login-button"
                        data-ng-click="createAccount()">CREER UN COMPTE</button>
                <button class="login-button"
                        data-ng-click="passwordLogin()"
                        type="submit">SE CONNECTER</button>
            </div>
        </form>
    </div>
</div>


<!--
<h2>Login Page</h2>

<form role="form">
<p class="form-group">
<label for="loginEmail">email</label>
<input id="loginEmail" required name="email" type="email" ng-model="email" />
</p>
<p class="form-group">
<label for="loginPass">password</label>
<input id="loginPass" required name="pass" type="password" ng-model="pass" />
</p>
<p class="form-group" ng-cloak ng-show="createMode">
<label for="loginConfirm">confirm pass</label>
<input id="loginConfirm" required name="confirm" type="password" ng-model="confirm" />
</p>

<p>
<button  ng-click="passwordLogin(email, pass)" ng-hide="createMode">Log In</button>
<button  ng-click="createMode = true" ng-hide="createMode">Register</button>
<button  ng-cloak ng-show="createMode"
ng-click="createAccount(email, pass, confirm)">Create Account</button>
<button  ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
</p>
</form>
<p ng-show="err" class="error">{{err}}</p>
-->
